# Application Environment Variables
APP_PORT=3000
 
# PostgreSQL Environment Variables
POSTGRES_USER=admin
POSTGRES_PASSWORD=pass123
POSTGRES_DB=softy_rh_db
POSTGRES_PORT=5432
POSTGRES_HOST=db  # Should match the 'db' service from Docker Compose
 
# Keycloak Environment Variables
KEYCLOAK_URL=http://host.docker.internal:8081
KEYCLOAK_ADMIN_USER=owner
KEYCLOAK_ADMIN_PASSWORD=owner
KEYCLOAK_REALM=softy
KEYCLOAK_CLIENT_ID=rh-service-client
KEYCLOAK_CLIENT_SECRET=QycgW1sehw6dTTGtDGpQg2qs5WADBjWc
# Keycloak PostgreSQL Database Configuration
KEYCLOAK_DB_VENDOR=postgres                # Specify the database vendor
KEYCLOAK_DB_URL=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/keycloak  # Keycloak database URL
KEYCLOAK_DB_DATABASE=keycloak              # Name of the Keycloak database
KEYCLOAK_DB_USERNAME=admin                  # Database user for Keycloak
KEYCLOAK_DB_PASSWORD=pass123      
         # Database password for Keycloak
 
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
 
#default language
FALLBACK_LANGUAGE=en