# Application
NODE_ENV=development
APP_PORT=3000
API_URL_SPI=host.docker.internal
API_URL=localhost
FALLBACK_LANGUAGE=en

# API
PROD_AUTH_URL=https://auth.example.com
PROD_API_URL=https://api.example.com
API_VERSION=v1

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=company_rh_db
POSTGRES_PORT=5432
POSTGRES_HOST=db

# Keycloak
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_PORT=8080
KEYCLOAK_HOST=keycloak
KEYCLOAK_REALM=company
KEYCLOAK_CLIENT_ID=company-rh
KEYCLOAK_CLIENT_SECRET=replace_me
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
GRANT_TYPE=password

# Keycloak Database
KEYCLOAK_DB_VENDOR=postgres
KEYCLOAK_DB_URL=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/keycloak
KEYCLOAK_DB_DATABASE=keycloak
KEYCLOAK_DB_USERNAME=postgres
KEYCLOAK_DB_PASSWORD=postgres

# Keycloak Container Settings
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
KC_DB_USERNAME=${POSTGRES_USER}
KC_DB_PASSWORD=${POSTGRES_PASSWORD}
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true
KC_FEATURES=preview
KC_HOSTNAME_STRICT=false
KC_HOSTNAME=keycloak
KC_PROXY=edge
KC_HTTP_ENABLED=true
KC_HTTPS_REQUIRED=none
KC_SPI_COOKIE_DEFAULT_SAME_SITE_STRICT=false
KC_SPI_COOKIE_DEFAULT_SECURE=false
KC_SPI_COOKIE=default

# Dropbox
DROPBOX_ACCESS_TOKEN=replace_with_token
DROPBOX_APP_KEY=replace_with_key
DROPBOX_APP_SECRET=replace_with_secret

# Tenant Database Defaults
DB_NAME=tenant_db
DB_USER=tenant_user
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=tenant_password
